<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
</head>
<body>
    <header class='main-header'>
        <nav class='main-header__nav'>
            <ul class='main-header__list'>
                <li class='main-header__list-item'><a class='active' href='/'>PLAY</a></li>
                <li class='main-header__list-item'><a href='/samples'>SAMPLES</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <button class='btn' type='submit'>Add new sample pack</button>
        </div>
    </main>
</body>
</html>